#content{
    color: white;
    display: flex;
    text-align: center; 
    flex-direction: column;
}
    
.about_div{
    width: 50%;
    align-self: center;
}

#about_pic{
    float:left;
    margin-right: 10px;
    align-self: center;

}

#about_me{
    align-self: center;
    color: white;
    /* background-color: rgba(0, 0,0, .7) */
}