#navbar, h1{
    text-align: center;
}

h1, .flex-item{
    color: white
}

.flex-container{

    /*First create a flex layout contest  */
    display: flex;

    /* Then we define the flow direction
    and if we allow the items to wrap
   
    *Remember this is the same as:
    *flex-direction: row;
    *flex-wrap: wrap;
    */
    flex-flow: row wrap;


    /* Then we define how the remaining space is distributed */
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.flex-item{
    background-color: lightslategrey;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}